@import "../shared/variables";

@font-face {
    font-family: "Source Sans 3";
    src: url("../../../public/font/page/SourceSans3-Regular.ttf") format("truetype");
}

@-webkit-keyframes slow-show {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes slow-show {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.slow-show {
    -webkit-animation: slow-show 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slow-show 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

body {
    background-color: $begeDelicado;
    display: flex;
    font-family: "Source Sans 3";
    font-size: $standardFontSize;
    height: 100dvh;
    justify-content: center;

    nav {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 15rem;

        .gradient-left,
        .gradient-right {
            bottom: 0;
            display: none;
            top: 0;
            position: absolute;
            width: 50%;
            z-index: 1;
        }

        #logo-maribe {
            padding-bottom: 3rem;
            width: 24rem;
        }

        ul {
            align-items: center;
            display: flex;
            flex-direction: column;
            font-size: $standardSubTitleSize;
            gap: 2rem;
            list-style: none;
            padding: 0 0 5rem;

            li a {
                color: $cinzaElegante;
                text-decoration: none;
            }

            a:hover {
                color: $vermelhoRecife;
            }
        }
    }

    #bg-desktop {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    body {
        nav {
            padding-top: 20rem;

            #logo-maribe {
                width: 30rem;
            }

            ul {
                font-size: 2.8rem;
            }
        }
    }
}

@media only screen and (min-width: 1276px) {

    html,
    body,
    nav {
        margin: 0;
        padding: 0;
    }

    body {
        nav {
            box-sizing: border-box;
            padding: 0;
            position: relative;
            overflow: hidden;

            #bg-desktop {
                display: block;
                height: 100dvh;
                opacity: 0.8;
                overflow: hidden;
            }

            #logo-maribe {
                display: none;
                padding: 0;
            }

            ul {
                flex-direction: row;
                font-size: 2.2rem;
                gap: 6rem;
                position: absolute;
                top: 21rem;
            }
        }

    }
}

@media only screen and (min-width: 1896px) {
    body {
        nav {

            .gradient-left,
            .gradient-right {
                display: block;
            }

            .gradient-left {
                left: 0;
                background: linear-gradient(to right, rgba(252, 252, 250, 0.9), rgba(252, 252, 250, 0) 15%);
            }

            .gradient-right {
                right: 0;
                background: linear-gradient(to left, rgba(252, 252, 250, 0.75), rgba(252, 252, 250, 0) 20%);
            }

            ul {
                font-size: 2.5rem;
                gap: 8rem;
                top: 23rem;
                z-index: 2;
            }
        }
    }
}