// Import the font sizes and the colors into the file
@import "../shared/variables";

// Fonts to be used in this page
@font-face {
    font-family: "Source Sans 3";
    src: url("../../../public/font/page/SourceSans3-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Kantumruy Pro";
    src: url("../../../public/font/subtitle/KantumruyPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "All Round Gothic";
    src: url("../../../public/font/title/AllRoundGothic-Lig.otf") format("opentype"),
        url("../../../public/font/title/AllRoundGothic-Lig.otf") format("woff"),
        url("../../../public/font/title/AllRoundGothic-Lig.otf") format("woff2");
    font-style: normal;
}

.visibilityOff {
    visibility: hidden;
}

.brightnessFilter {
    filter: brightness(0.5);
}


// Mobile version of the project
a,
body {
    color: $cinzaElegante;
}

a {
    touch-action: manipulation;
}

body {
    background-color: $begeDelicado;
    font-family: "Source Sans 3", sans-serif;
    font-size: $standardFontSize;
    overflow-x: hidden;
    z-index: 1;

    nav {
        align-items: center;
        display: flex;
        flex-direction: column;

        img {
            width: 30rem;
        }

        ul {
            display: flex;
            gap: 2.5rem;
            list-style: none;
            justify-content: center;
            padding: 5rem 0;

            li a {
                text-decoration: none;
            }

            #selected {
                font-weight: bold;
            }
        }
    }

    main {
        padding: 0 4.5rem;

        // This section holds the project gallery, which will lead to the project page
        #projects {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-bottom: 3rem;

            // Style for each project box, which are created as articles and have some kind of black mask when hovered or held in mobile devices
            article {
                height: 34rem;
                position: relative;

                a {
                    span {
                        background-color: $begeDelicado;
                        border-radius: 1rem;
                        color: $cinzaElegante;
                        filter: opacity(0.90);
                        font-family: "All Round Gothic", sans-serif;
                        left: 50%;
                        margin: 0;
                        padding: 4rem 3rem;
                        position: absolute;
                        text-transform: lowercase;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 2;

                        h4 {
                            border-top: 1px solid $cinzaElegante;
                            border-bottom: 1px solid $cinzaElegante;
                            font-weight: normal;
                            padding: 1rem 0;
                            text-align: center;
                        }
                    }

                    // This image represents the project cover that will also be loaded in the projects script
                    img {
                        border-radius: 1rem;
                        height: 34rem;
                        object-fit: cover;
                        position: absolute;
                        transition: 300ms;
                        width: 100%;
                        z-index: 1;
                    }
                }
            }
        }
    }

    footer {
        border-top: 1px solid $cinzaElegante;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 3rem;

        #social-links {
            ul {
                display: flex;
                gap: 2rem;
                justify-content: center;
                list-style: none;

                li {
                    a {
                        i {
                            border: 1px solid $cinzaElegante;
                            border-radius: 0.5rem;
                            color: $cinzaElegante;
                            padding: 0.4rem 0.6rem;
                        }
                    }
                }
            }
        }

        #copyright-info {
            display: flex;
            flex-direction: column;

            p {
                font-size: 1.4rem;
                text-align: center;
            }
        }
    }
}

// Tablet versions of the project
@media only screen and (min-width: 768px) {
    body {
        main {
            padding: 0 6rem;

            #projects {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 100%;

                // Defines the article with 48% of the #projects div from now on
                article {
                    min-width: 48%;
                }
            }
        }

        footer {
            flex-direction: row;
            justify-content: space-between;
            padding: 2rem 6rem;

            #social-links {
                li {
                    a {
                        font-size: 1.8rem;

                        i {
                            padding: 0.6rem 0.8rem;
                        }
                    }
                }
            }

            #copyright-info {
                p {
                    text-align: right;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    body {
        main {
            padding: 0 8rem;
        }

        footer {
            padding: 2rem 4rem;

            #social-links {
                ul {
                    gap: 1rem;

                    li {
                        a {
                            font-size: 1.4rem;

                            i {
                                padding: 0.6rem 0.8rem;
                            }
                        }
                    }
                }
            }

            #copyright-info {
                p {
                    font-size: 1.4rem;
                    text-align: right;
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    body {
        main {
            padding: 0 15rem;

            .page-hero {
                p {
                    padding: 0 8rem 4rem;
                }
            }

            #projects {

                // From now on, each project article has 30% of the #projects div width. An important remind is that, this can change in next updates from a flex style to a grid style, which may be best solution here.
                article {
                    min-width: 30%;
                }
            }
        }
    }
}

// @media only screen and (min-width: 1440px) {
//     body {
//         main {

//             .page-hero {
//                 p {
//                     padding: 0 20rem 4rem;
//                 }
//             }
//         }
//     }
// }

// @media only screen and (min-width: 1896px) {
//     body {
//         main {

//             .page-hero {
//                 p {
//                     padding: 0 38rem 4rem;
//                 }
//             }
//         }
//     }
// }