@font-face {
  font-family: "Source Sans 3";
  src: url("../../../public/font/page/SourceSans3-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Kantumruy Pro";
  src: url("../../../public/font/subtitle/KantumruyPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "All Round Gothic";
  src: url("../../../public/font/title/AllRoundGothic-Lig.otf") format("opentype"), url("../../../public/font/title/AllRoundGothic-Lig.otf") format("woff"), url("../../../public/font/title/AllRoundGothic-Lig.otf") format("woff2");
  font-style: normal;
}
.visibilityOff {
  visibility: hidden;
}

.brightnessFilter {
  filter: brightness(0.5);
}

a,
body {
  color: #3C3C3B;
}

a {
  touch-action: manipulation;
}

body {
  background-color: #FCFCFA;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  z-index: 1;
}
body nav {
  align-items: center;
  display: flex;
  flex-direction: column;
}
body nav img {
  width: 30rem;
}
body nav ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  justify-content: center;
  padding: 5rem 0;
}
body nav ul li a {
  text-decoration: none;
}
body nav ul #selected {
  font-weight: bold;
}
body main {
  padding: 0 4.5rem;
}
body main #projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 3rem;
}
body main #projects article {
  height: 34rem;
  position: relative;
}
body main #projects article a span {
  background-color: #FCFCFA;
  border-radius: 1rem;
  color: #3C3C3B;
  filter: opacity(0.9);
  font-family: "All Round Gothic", sans-serif;
  left: 50%;
  margin: 0;
  padding: 4rem 3rem;
  position: absolute;
  text-transform: lowercase;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
body main #projects article a span h4 {
  border-top: 1px solid #3C3C3B;
  border-bottom: 1px solid #3C3C3B;
  font-weight: normal;
  padding: 1rem 0;
  text-align: center;
}
body main #projects article a img {
  border-radius: 1rem;
  height: 34rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  transition: 300ms;
  width: 100%;
  z-index: 1;
}
body footer {
  border-top: 1px solid #3C3C3B;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;
}
body footer #social-links ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  list-style: none;
}
body footer #social-links ul li a i {
  border: 1px solid #3C3C3B;
  border-radius: 0.5rem;
  color: #3C3C3B;
  padding: 0.4rem 0.6rem;
}
body footer #copyright-info {
  display: flex;
  flex-direction: column;
}
body footer #copyright-info p {
  font-size: 1.4rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  body main {
    padding: 0 6rem;
  }
  body main #projects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  body main #projects article {
    min-width: 48%;
  }
  body footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 6rem;
  }
  body footer #social-links li a {
    font-size: 1.8rem;
  }
  body footer #social-links li a i {
    padding: 0.6rem 0.8rem;
  }
  body footer #copyright-info p {
    text-align: right;
  }
}
@media only screen and (min-width: 992px) {
  body main {
    padding: 0 8rem;
  }
  body footer {
    padding: 2rem 4rem;
  }
  body footer #social-links ul {
    gap: 1rem;
  }
  body footer #social-links ul li a {
    font-size: 1.4rem;
  }
  body footer #social-links ul li a i {
    padding: 0.6rem 0.8rem;
  }
  body footer #copyright-info p {
    font-size: 1.4rem;
    text-align: right;
  }
}
@media only screen and (min-width: 1440px) {
  body main {
    padding: 0 15rem;
  }
  body main .page-hero p {
    padding: 0 8rem 4rem;
  }
  body main #projects article {
    min-width: 30%;
  }
}/*# sourceMappingURL=projects.css.map */