//Footer styles only
// Import the font sizes and the colors into the file
@import "../shared/variables";

footer {
    border-top: 1px solid $cinzaElegante;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 3rem;

    #social-links {
        ul {
            display: flex;
            gap: 2rem;
            justify-content: center;
            list-style: none;

            li {
                a {
                    i {
                        border: 1px solid $cinzaElegante;
                        border-radius: 0.5rem;
                        color: $cinzaElegante;
                        padding: 0.4rem 0.6rem;
                    }
                }
            }
        }
    }

    #copyright-info {
        display: flex;
        flex-direction: column;

        p {
            font-size: 1.4rem;
            text-align: center;
        }
    }
}

@media only screen and (min-width: 768px) {
    body {
        footer {
            flex-direction: row;
            justify-content: space-between;
            padding: 2rem 6rem;

            #social-links {
                li {
                    a {
                        font-size: 1.8rem;

                        i {
                            padding: 0.6rem 0.8rem;
                        }
                    }
                }
            }

            #copyright-info {
                p {
                    text-align: right;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    body {
        footer {
            padding: 2rem 4rem;

            #social-links {
                ul {
                    gap: 1rem;

                    li {
                        a {
                            font-size: 1.4rem;

                            i {
                                padding: 0.6rem 0.8rem;
                            }
                        }
                    }
                }
            }

            #copyright-info {
                p {
                    font-size: 1.4rem;
                    text-align: right;
                }
            }
        }
    }
}