@import "../shared/variables";

.hamburguer-menu_container {
    // Linhas do menu
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    width: 100%;

    .lines-container {
        background-color: $begeDelicado;
        border: 2px solid $vermelhoRecife;
        border-radius: .6rem;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 1.2rem 1rem;
        width: fit-content;

        .menu_line {
            background-color: $vermelhoRecife;
            height: 3px;
            width: 30px;
        }

        .close-menu {
            color: $vermelhoRecife;
            font-size: 3rem;
            text-align: center;
        }
    }

    // Itens do menu
    .hamburguer-menu {
        border: 2px solid $vermelhoRecife;
        border-radius: .5rem;
        padding: 0 1.5rem;
        margin-top: 1rem;
        height: fit-content;
        width: 33%;
    }

    .hamburguer-menu>ul {
        display: flex;
        gap: 0;
        flex-direction: column;
        padding: 0;

        li {
            padding: 1.5rem 0;
            text-align: center;
            width: 100%;
        }

        li:nth-child(even) {
            border-top: 1px solid $vermelhoRecife;
            border-bottom: 1px solid $vermelhoRecife;
        }
    }

    // Adaptar as cores para quando for aberto
    .menu-opened {
        background-color: $vermelhoRecife;

        .menu_line {
            background-color: $begeDelicado;
        }
    }

    // Mostrar/esconder itens do menu
    .toggle-visibility {
        display: none;
    }

    .show-close-button {
        color: $begeDelicado;
        font-size: 3rem;
        text-align: center;
    }
}

.scale-in-center {
    -webkit-animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-out-center {
    -webkit-animation: scale-out-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-out-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}