// Import the font sizes and the colors into the file
@import "../shared/variables";

// Fonts to be used in this page
@font-face {
    font-family: "Source Sans 3";
    src: url("../../../public/font/page/SourceSans3-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "All Round Gothic";
    src: url("../../../public/font/title/AllRoundGothic-Lig.otf") format("opentype"),
        url("../../../public/font/title/AllRoundGothic-Lig.otf") format("woff"),
        url("../../../public/font/title/AllRoundGothic-Lig.otf") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "Kantumruy Pro";
    src: url("../../../public/font/subtitle/KantumruyPro-Regular.ttf") format("truetype");
}

// Mobile version of the project
a,
body {
    color: $cinzaElegante;
}

body {
    background-color: $begeDelicado;
    display: flex;
    flex-direction: column;
    font-family: "Source Sans 3", sans-serif;
    font-size: $standardFontSize;
    min-height: 100dvh;
    z-index: 1;
}

main {
    flex: 1 0 auto;
    padding: 0 4.5rem;

    .page-title {
        padding-top: 8rem;

            .anchor-link {
                color: $vermelhoRecife;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }

// Tablet versions of the project
@media only screen and (min-width: 768px) {
    body {
        main {
            // Change the top padding to 10rem to make the .page-hero go a little bit up
            padding: 10rem 0 6rem;
        }
    }
}

@media only screen and (min-width: 992px) {
    body {
        main {
            padding: 18rem 0 6rem;
        }
    }
}

// Laptop version of the project
@media only screen and (min-width: 1440px) {
    body {
        main {
            padding: 4rem 0 6rem;
        }
    }
}

// Desktop version of the project
@media only screen and (min-width: 1896px) {
    body {
        main {
            padding: 5rem 0 6rem;
        }
    }
}